<div class="dashboard-header">
<p>{{user.firstName}} {{user.lastName}}</p>
<p id="accountId" title="{{account._id}}">Account ID: {{account._id}}</p> 
<p>Account type: {{account.accountType}}</p>
{{!-- <form action="/profile">
    <button type="submit" class="btn btn-dark">View Profile</button>
</form>
<br>
<form action="/logout">
        <button type="submit" class="btn btn-dark">Logout</button>
    </form> --}}
</div>


<div id="body-box">
    <div class="dashboard-container">
        <h1>{{title}}</h1>
        
        <div class="centerBalance">
            <p id="balance">${{account.balance}}</p>
            <p>Balance</p>
        </div>

        <form action='/deposit/{{account._id}}'>
            <button type="submit" class="btn btn-dark">Make a deposit</button>
        </form>
        <br>
        <form action="/transaction/{{account._id}}">
            <button type="submit" class="btn btn-dark">Make a transaction</button>
        </form>
        <br>

        <p>Transaction History</p>
        <button id="showAll" type="button" class="btn btn-dark">Show all</button>
        {{!-- filter by month --}}
        <form id="selectMonth-form">
            <label for="selectMonth">Select by date:</label>
            <input id="selectMonth" type="month" name="selectMonth">
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
         {{!-- filter by tag --}}
        <form id="selectTag-form">
            <label for="selectTag">Select by tag:</label>
            <select id="selectTag" name="selectTag">
                <option value="food">Food</option>
                <option value="goods and services">Goods and Services</option>
                <option value="transport">Transport</option>
                <option value="utilities">Utilities</option>
                <option value="investment">Investment</option>
                <option value="salary">Salary</option>
                <option value="other">Other</option>
            </select>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        {{!-- filter by type --}}
        <form id="selectType-form">
            <label for="selectType">Select by type:</label>
            <select id="selectType" name="selectType">
                <option value="internal_deposit">income</option>
                <option value="external_transaction">expense</option>
            </select>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>

        <table id="transList" border="1"></table>
        <button id="print" onclick="window.print()">Print this page</button>
        <p id="noTrans">View your history by first making a deposit or transaction</p>

    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/transFilter.js"></script>